<div id="<%= dom_id frotum %>">
  <p>
    <strong>Veiculo:</strong>
    <%= frotum.veiculo %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= frotum.placa %>
  </p>

  <p>
    <strong>Km inicial:</strong>
    <%= frotum.km_inicial %>
  </p>

  <p>
    <strong>Hora saida:</strong>
    <%= frotum.hora_saida %>
  </p>

  <p>
    <strong>Km final:</strong>
    <%= frotum.km_final %>
  </p>

  <p>
    <strong>Hora entrada:</strong>
    <%= frotum.hora_entrada %>
  </p>

  <p>
    <strong>Condutor:</strong>
    <%= frotum.condutor %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= frotum.data %>
  </p>

</div>
